# This file contains all environment variables that are required to run the application. Most fields are pre-filled with default values for local development.
# The database URL is set to the default Postgres connection string for the local docker compose setup.
DATABASE_URL="postgres://root:mysecretpassword@localhost:5432/local"

# The origin of the frontend application. Make sure that this matches the URL that is printed in the terminal when you start the application in development mode.
ORIGIN="http://localhost:5173"

# Better Auth secret for encryption (see https://www.better-auth.com/docs/installation).
# - for production use 32 characters and generated with high entropy. 
# - for local development, just enter anything you like or slam your keyboard. It doesn't really matter, as long as it's not empty.
BETTER_AUTH_SECRET=

### Mail Settings - for local development, leave them as they are.
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=test
SMTP_PASSWORD=test

MAIL_FROM="outa.one <hey@outa.one>"
