{
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 120,
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss", "@ianvs/prettier-plugin-sort-imports"],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ],
  "importOrder": ["<THIRD_PARTY_MODULES>", "", "^\\$lib/(.*)$", "", "^[./]"],
  "importOrderParserPlugins": ["typescript", "svelte"],
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "lf"
}
